/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* targets the html element body */
body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	background-image: linear-gradient(rgba(49, 43, 43, 0.25), rgba(49, 43, 43, 0.25)), url("../images/bg3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* The whole height of the screen */
	height: 100vh;
	color: #f2f2f2; /* Off white*/
}
/*End of body styling*/

/*Targets html element h1*/
h1 {
	font-size: 50px;
	background-color: #333; /*Off black*/
	text-transform: uppercase; /*Makes its uppercase*/
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	border-color:  #fdfefe;
	border-width: 5px;
	border-style: solid;
}

/*End of h1 styling*/

/*Start of h2 styling*/
h2 {
	
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	/*margin: 10px; margin creates space outside of the element*/
	padding: 10px; /*padding creates space inside of the element*/
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
}
/*End of h2 styling*/

/*targets the element with the class bio*/
.bio {
	/*font-family: 'Modak', cursive;*/
	font-family: 'Abel', sans-serif;
	font-size: 30px;
	background-color: rgba(51,51,51,0.5);
	line-height: 1.75;
}
/*End of class bio styling*/

/*Targets the element with the id me*/
#me {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border-color:  #fdfefe;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of id me*/

/*Styles the class container*/
.container{
	width: 500px;
	text-align: center;
	margin:0 auto; /*This will center the element horizontally*/
}

.footer{
	margin-top: 50px;
	text-transform: uppercase;
}

.fb, .ig, .git{
	float: left;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #f2f2f2;
}

.fb {
	margin-left: 10px; 
}

.ig {
	margin-left: 130px;
}

.git {
	margin-left: 130px;
}